<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear, <%= @user.full_name %></h1>
    <% if @occurence == "weekly" %>
      <p>Your request for lessons on:</p>
      <p>
        <%= @lesson.start_time.strftime("%a %I:%M %p") %>
        for <%= distance_of_time_in_words @lesson.start_time, @lesson.end_time, include_seconds: true %>
      </p>
    <% else %>
      <p>Your request for a single lesson on:</p>
      <p>
        <%= @lesson.start_time.strftime("%a %b %e") %>
        at
        <%= @lesson.start_time.strftime("%I:%M %p") %>
        for 
        <%= distance_of_time_in_words @lesson.start_time, @lesson.end_time, include_seconds: true %>
      </p>
    <% end %>
    <p>Has been approved!</p>
    
    <p>See you on <%= @lesson.start_time.strftime("%A") %>!</p>
  </body>
</html>
