<% if @weekly_lesson_requests || @single_lesson_requests %>
  <ul class="list-group ml-5 lesson_list">
    <% @weekly_lesson_requests.each do |l| %>
      <li class="list-group-item" id="<%= l.id %>">
        <div class="row align-items-center">
          <div class="col-7">
            <h6><%= link_to l.student.full_name, l.student %>:</h6>
            <p>Every Week at 
              <% if l.location == "teacher" %>
                the Teacher's Studio.
              <% else %>
                the Student's House.
              <% end %>
            </p>
            <p>
                <% if l.kind == "voice" %>
                  <%= link_to "Voice Lesson", l %>
                <% elsif l.kind == "piano" %>
                  <%= link_to "Piano Lesson", l %>
                <% else %>
                  <%= link_to "Voice and Piano Lesson", l %>
                <% end %>
            </p>
            <p>
              <%= "#{l.start_time.strftime("%a %I:%M %p")} - #{l.end_time.strftime("%I:%M %p")}" %>
            </p>
          </div>
          <div class="col-5 text-right">
            <%= link_to lesson_path(l, occurence: "weekly"), method: :patch do %>
              <button class="btn btn-light"><i class="fas fa-check-circle text-success"></i>Confirm</button>
            <% end %>
            
            <%= link_to lesson_path(l, destroy_all: true), method: :delete do %>
              <button class="btn btn-light"><i class="fas fa-minus-circle text-danger"></i>Delete</button>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
    <% @single_lesson_requests.each do |l| %>
      <li class="list-group-item" id="<%= l.id %>">
        <div class="row align-items-center">
          <div class="col-7">
            <h6><%= link_to l.student.full_name, l.student %>:</h6>
            <p>Single at
              <% if l.location == "teacher" %>
                the Teacher's Studio.
              <% else %>
                the Student's House.
              <% end %>
            </p>
            <p>
              <% if l.kind == "voice" %>
                <%= link_to "Voice Lesson", l %>
              <% elsif l.kind == "piano" %>
                <%= link_to "Piano Lesson", l %>
              <% else %>
                <%= link_to "Voice and Piano Lesson", l %>
              <% end %>
            </p>
            <p>
              <%= "#{l.start_time.strftime("%a %b %e %I:%M %p")} - #{l.end_time.strftime("%I:%M %p")}" %>
            </p>
          </div>
          <div class="col-5 text-right">
            <%= link_to lesson_path(l), method: :patch do %>
              <button class="btn btn-light"><i class="fas fa-check-circle text-success"></i>Confirm</button>
            <% end %>

            <%= link_to lesson_path(l), method: :delete do %>
              <button class="btn btn-light"><i class="fas fa-minus-circle text-danger"></i>Delete</button>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
