<div class="row">
  <div id="teacher-sidebar" class="col-3 border-right pr-5">
    <%= render 'users/dashboard/teacher_sidebar' %>
  </div>
  <div class="col-6" id="teacher-lessons">
    <h3 class="text-center border-bottom pb-3">Today's Lessons</h3>
    <% @todays_lessons.each do |l| %>
      <%= render 'shared/lesson_card', lesson: l %>
    <% end %>
    <h3 class="text-center border-bottom pb-3 mt-3">This Week's Lessons</h3>
    <% @next_weeks_lessons.each do |l| %>
      <%= render 'shared/lesson_card', lesson: l %>
    <% end %>
  </div>
  <div class="col-3 border-left pl-5 text-center" id="teacher-payments">
    <h3 class="text-secondary">Student Payment</h3>
    <%= form_for @payment do |f| %>
      <div class="field my-3 text-info">
        <%= f.label :user_id, "Student: " %>
        <%= f.collection_select :user_id, @students, :id, :full_name %>
      </div>
      <div class="field my-3 text-success">
        <%= f.label :amount, "$" %>
        <%= f.number_field :amount, min: 0 %>
      </div>
      <%= f.submit "Add Payment", class: "btn btn-outline-success m-3" %>
    <% end %>
  </div>
</div>
