<ul class="list-group ml-5 unpaid_lesson_list">
  <% @unpaid_lessons.each do |ul| %>
    <li class="list-group-item text-danger border-danger" id="<%= ul.id %>">
      <div class="row">
        <div class="col-7">
          <h6><%= link_to ul.student.full_name, ul.student %>:</h6>
            <p>
                <% if ul.kind == "voice" %>
                  <%= link_to "Voice Lesson", ul %>
                <% elsif ul.kind == "piano" %>
                  <%= link_to "Piano Lesson", ul %>
                <% else %>
                  <%= link_to "Voice and Piano Lesson", ul %>
                <% end %>
            </p>
            <p>
              <%= "#{ul.start_time.strftime("%a %b %e %I:%M %p")} - #{ul.end_time.strftime("%I:%M %p")}" %>
            </p>
            <p>
              Price: <%= dollar_prettified(ul.price) %>
            </p>
        </div>

        <div class="col-5 text-right">
          <%= link_to lesson_path(ul), method: :delete do %>
            <button class="btn btn-light"><i class="fas fa-minus-circle text-danger"></i>Delete</button>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
