<div id="header" class="row bg-dark pb-3 align-items-end pr-5">
  <div class='col-1'>
    <div id="icon" class="bg-light text-dark"></div>
  </div>
  <div class="col-8 text-center">
    <h1 class="mt-4"><%= link_to 'Heights Studios', root_path, class: "text-white" %></h1>
  </div>
  <div class='col-3'>
    <% if user_signed_in? %>

      <ul class="nav">
        <li class="nav-item">
          <%= link_to dashboard_path, class: "nav-link" do %>
            <i class="fas fa-tachometer-alt"><em>Dashboard</em></i>
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to edit_user_registration_path, class: "nav-link" do %>
            <i class="fas fa-user"><em>Edit Profile</em></i>
          <% end %>
        </li>

        <% if current_user.teacher || current_user.student %>
          <li class="nav-item">
            <%= link_to new_lesson_path, class: "nav-link" do %>
              <i class="fas fa-chalkboard-teacher"><em>Lessons</em></i>
            <% end %>
          </li>
        <% end %>

        <% if current_user.teacher %>
          <li class="nav-item">
            <%= link_to schedule_path, class: "nav-link" do %>
              <i class="fas fa-calendar-alt"><em>Set Schedule</em></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to users_path(student: true), class: "nav-link" do %>
              <i class="fas fa-user-friends"><em>Studio</em></i>
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to users_path(status: 'Wait Listed'), class: "nav-link" do %>
              <i class="fas fa-users"><em>Wait List</em></i>
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to payments_path, class: "nav-link" do %>
              <i class="fas fa-money-bill-alt"><em>Payment History</em></i>
            <% end %>
          </li>
        <% end %>

      </ul>
    <% end %>
  </div>
</div>

<div id="menu">
  <ul class="nav">
    <li class="nav-item m-3"><%= link_to 'Welcome', home_path, class: "nav-link btn btn-outline-primary" %></li>
    <li class="nav-item m-3"><%= link_to 'About', about_path, class: "nav-link btn btn-outline-primary" %></li>
    <% if user_signed_in? %>
      <li class="nav-item m-3"><%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "nav-link btn btn-outline-primary" %></li>
    <% else %>
      <li class="nav-item m-3"><%= link_to 'Sign up', new_user_registration_path, class: "nav-link btn btn-outline-primary" %></li>
      <li class="nav-item m-3"><%= link_to 'Sign in', new_user_session_path, class: "nav-link btn btn-outline-primary" %></li>
    <% end %>
  </ul>
</div>

