<div class="lesson-card text-center my-3 card
  <% if lesson.paid %>
    border-success   
  <% else %>
    border-danger
  <% end %>
  ">

  <h4><%= link_to lesson.student.full_name, lesson.student %></h4>
      <h6>
        <% if lesson.kind == "voice" %>
          <%= link_to "Voice Lesson", lesson %>
        <% elsif lesson.kind == "piano" %>
          <%= link_to "Piano Lesson", lesson %>
        <% else %>
          <%= link_to "Voice and Piano Lesson", lesson %>
        <% end %>
      </h6>

      <h5 class="text-secondary"><%= "#{lesson.start_time.strftime("%A, %B %e, %I:%M %p")} - #{lesson.end_time.strftime("%I:%M %p")}" %></h5>
  <div class="row">
    <div class="col-6 pt-3">
      <% if lesson.paid %>
        <h4 class="text-success">Paid</h4>
        <h4 class="text-success"><%= dollar_prettified(lesson.price) %></h4>
      <% else %>
        <h4 class="text-danger">Unpaid</h4>
        <h4 class="text-danger"><%= dollar_prettified(lesson.price) %></h4>
      <% end %>
    </div>
    <div class="col-6">
      <p>Location:</p>
      <h6 class="text-secondary">
        <% if lesson.location == "teacher" %>
          The Teacher's Studio</br>
          <%= lesson.teacher.address.street_address %></br>
          <%= lesson.teacher.address.city %>, <%= lesson.teacher.address.state %> <%= lesson.teacher.address.zip_code %>
        <% else %>
          The Student's House</br>
          <%= lesson.student.address.street_address %></br>
          <%= lesson.student.address.city %>, <%= lesson.student.address.state %> <%= lesson.student.address.zip_code %>
        <% end %>
      </h6>
    </div>
  </div>
</div>

